.column
  margin: 0 auto
  padding-left: var(--margin)
  padding-right: var(--margin)
  width: 100%
  max-width: calc(900px + 2 * var(--margin))

.materialIcon
  margin-right: 24px

.materialTileRoot
  display: flex
  flex-wrap: wrap
  justify-content: space-around

.materialGridList
  width: 500px
  height: 500px
  overflow-y: auto
  margin-bottom: 24px
